In [61]:
# Dependencies
import pandas as pd

In [62]:
# Store filepath in a variable
gun_law = "Resources/Gun Law Strictness.xlsx"
gun_school = "Resources/Total School Expenditures by State.xlsx"
gun_mental = "Resources/Mental Health Expenditure by State.xlsx"
gun_raw = "Resources/raw_data.xlsx"

In [63]:
# Read our data file with the pandas library
gun_law_df = pd.read_excel(gun_law)
gun_school_df = pd.read_excel(gun_school)
gun_mental_df = pd.read_excel(gun_mental)
gun_raw_df = pd.read_excel(gun_raw)

gun_mental_df.head()

,state,tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,373100000,78.19,37,327.57,40
1,Alaska,214200700,310.01,3,1785.01,2
2,Arizona,1414300000,221.27,7,827.56,15
3,Arkansas,122468795,42.02,48,169.39,50
4,California,5674396088,152.60,15,645.55,22

In [64]:
gun_law_df.head()

,gun law strengh (rank),state,grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,1,California,A,43,7.9
1,2,New Jersey,A-,45,5.5
2,3,Connecticut,A-,46,4.6
3,4,Massachusetts,A-,50,3.4
4,5,New York,A-,48,4.4

In [65]:
gun_school_df.head()

        state  total_spending  total_per_pupil
0     Alabama      6826622000             9128
1      Alaska      2646225000            20172
2     Arizona      7205417000             7489
3    Arkansas      4683434000             9694
4  California     66208111000            10467

In [66]:
gun_raw_df

             state  year  lawtotal
0          Alabama  2017        10
1           Alaska  2017         4
2          Arizona  2017        11
3         Arkansas  2017        11
4       California  2017       106
5         Colorado  2017        30
6      Connecticut  2017        89
7         Delaware  2017        40
8          Florida  2017        21
9          Georgia  2017         6
10          Hawaii  2017        78
11           Idaho  2017         4
12        Illinois  2017        64
13         Indiana  2017        12
14            Iowa  2017        24
15          Kansas  2017         7
16        Kentucky  2017         7
17       Louisiana  2017        12
18           Maine  2017        12
19        Maryland  2017        64
20   Massachusetts  2017       100
21        Michigan  2017        21
22       Minnesota  2017        41
23     Mississippi  2017         5
24        Missouri  2017         6
25         Montana  2017         4
26        Nebraska  2017        22
27          Nevada  2017        21
28   New Hampshire  2017         9
29      New Jersey  2017        75
30      New Mexico  2017        10
31        New York  2017        75
32  North Carolina  2017        30
33    North Dakota  2017        13
34            Ohio  2017        16
35        Oklahoma  2017         9
36          Oregon  2017        35
37    Pennsylvania  2017        36
38    Rhode Island  2017        43
39  South Carolina  2017        12
40    South Dakota  2017         5
41       Tennessee  2017        22
42           Texas  2017        18
43            Utah  2017        13
44         Vermont  2017         6
45        Virginia  2017        13
46      Washington  2017        43
47   West Virginia  2017        21
48       Wisconsin  2017        23
49         Wyoming  2017         9

In [67]:
merge1 = gun_raw_df.merge(gun_school_df, how='outer', on='state')
merge1

                   state    year  lawtotal  total_spending  total_per_pupil
0                Alabama  2017.0      10.0      6826622000             9128
1                 Alaska  2017.0       4.0      2646225000            20172
2                Arizona  2017.0      11.0      7205417000             7489
3               Arkansas  2017.0      11.0      4683434000             9694
4             California  2017.0     106.0     66208111000            10467
5               Colorado  2017.0      30.0      8146683000             9245
6            Connecticut  2017.0      89.0      9603117000            18377
7               Delaware  2017.0      40.0      1779087000            14120
8                Florida  2017.0      21.0     24933433000             8881
9                Georgia  2017.0       6.0     16401832000             9427
10                Hawaii  2017.0      78.0      2359203000            12855
11                 Idaho  2017.0       4.0      1902503000             6923
12              Illinois  2017.0      64.0     28584939000            13755
13               Indiana  2017.0      12.0      9797058000             9687
14                  Iowa  2017.0      24.0      5558398000            10944
15                Kansas  2017.0       7.0      4995292000            10040
16              Kentucky  2017.0       7.0      6693668000             9630
17             Louisiana  2017.0      12.0      7291286000            11010
18                 Maine  2017.0      12.0      2426820000            13257
19              Maryland  2017.0      64.0     12430544000            14192
20         Massachusetts  2017.0     100.0     15315796000            15592
21              Michigan  2017.0      21.0     15712267000            11482
22             Minnesota  2017.0      41.0     10085128000            11949
23           Mississippi  2017.0       5.0      4161329000             8456
24              Missouri  2017.0       6.0      9269713000            10147
25               Montana  2017.0       4.0      1602608000            11028
26              Nebraska  2017.0      22.0      3732390000            11946
27                Nevada  2017.0      21.0      3804316000             8615
28         New Hampshire  2017.0       9.0      2711114000            14697
29            New Jersey  2017.0      75.0     26025344000            18235
30            New Mexico  2017.0      10.0      3184539000             9752
31              New York  2017.0      75.0     59209906000            21206
32        North Carolina  2017.0      30.0     12789303000             8687
33          North Dakota  2017.0      13.0      1420265000            13320
34                  Ohio  2017.0      16.0     19867256000            11637
35              Oklahoma  2017.0       9.0      5456487000             8082
36                Oregon  2017.0      35.0      6173205000            10442
37          Pennsylvania  2017.0      36.0     25305395000            14717
38          Rhode Island  2017.0      43.0      2204789000            15179
39        South Carolina  2017.0      12.0      7463268000             9953
40          South Dakota  2017.0       5.0      1205748000             8937
41             Tennessee  2017.0      22.0      8766468000             8726
42                 Texas  2017.0      18.0     44675233000             8861
43                  Utah  2017.0      13.0      3805778000             6575
44               Vermont  2017.0       6.0      1612052000            18039
45              Virginia  2017.0      13.0     14458878000            11237
46            Washington  2017.0      43.0     11566562000            10735
47         West Virginia  2017.0      21.0      3215683000            11359
48             Wisconsin  2017.0      23.0      9928685000            11375
49               Wyoming  2017.0       9.0      1513919000            16055
50  District of Columbia     NaN       NaN       979040000            19396

In [68]:
merge2 = merge1.merge(gun_law_df, how='outer', on='state')
merge2.head()

,state,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k)
0,Alabama,2017.0,10.0,6826622000,9128,36.0,F,2.0,21.4
1,Alaska,2017.0,4.0,2646225000,20172,44.0,F,1.0,23.0
2,Arizona,2017.0,11.0,7205417000,7489,47.0,F,16.0,15.2
3,Arkansas,2017.0,11.0,4683434000,9694,39.0,F,9.0,17.7
4,California,2017.0,106.0,66208111000,10467,1.0,A,43.0,7.9

In [70]:
gun_dataframe = merge2.merge(gun_mental_df, how='outer', on='state')
gun_dataframe

,state,year,lawtotal,total_spending,total_per_pupil,gun law strengh (rank),grade (2017),gun death rate (rank),gun death rate (rank per 100k),tota_expenditure,expenditure_per_capita,per_capita_rank,poverty_per_capita_expenditure,poverty_per_capita_rank
0,Alabama,2017.0,10.0,6826622000,9128,36.0,F,2.0,21.4,373100000,78.19,37,327.57,40
1,Alaska,2017.0,4.0,2646225000,20172,44.0,F,1.0,23.0,214200700,310.01,3,1785.01,2
2,Arizona,2017.0,11.0,7205417000,7489,47.0,F,16.0,15.2,1414300000,221.27,7,827.56,15
3,Arkansas,2017.0,11.0,4683434000,9694,39.0,F,9.0,17.7,122468795,42.02,48,169.39,50
4,California,2017.0,106.0,66208111000,10467,1.0,A,43.0,7.9,5674396088,152.60,15,645.55,22
5,Colorado,2017.0,30.0,8146683000,9245,15.0,C,20.0,14.3,443227875,88.41,31,517.79,28
6,Connecticut,2017.0,89.0,9603117000,18377,3.0,A-,46.0,4.6,675500000,189.34,9,1659.71,3
7,Delaware,2017.0,40.0,1779087000,14120,11.0,B,37.0,10.9,95000125,106.04,26,605.10,24
8,Florida,2017.0,21.0,24933433000,8881,26.0,F,26.0,12.6,742227938,39.55,49,178.81,47
9,Georgia,2017.0,6.0,16401832000,9427,32.0,F,17.0,14.9,449147633,46.54,47,177.81,48
10,Hawaii,2017.0,78.0,2359203000,12855,7.0,A-,47.0,4.5,224800000,169.99,11,960.68,12
11,Idaho,2017.0,4.0,1902503000,6923,46.0,F,19.0,14.6,57400000,36.64,51,172.37,49
12,Illinois,2017.0,64.0,28584939000,13755,8.0,B+,34.0,11.6,1030100000,80.43,36,370.94,35
13,Indiana,2017.0,12.0,9797058000,9687,23.0,D-,18.0,14.9,530148000,81.73,34,390.68,34
14,Iowa,2017.0,24.0,5558398000,10944,18.0,C-,39.0,9.2,409900000,134.46,19,810.08,16
15,Kansas,2017.0,7.0,4995292000,10040,48.0,F,23.0,13.3,375700000,132.33,20,629.31,23
16,Kentucky,2017.0,7.0,6693668000,9630,42.0,F,13.0,17.5,232300000,53.69,45,210.42,45
17,Louisiana,2017.0,12.0,7291286000,11010,43.0,F,3.0,21.2,282060590,62.37,43,205.43,46
18,Maine,2017.0,12.0,2426820000,13257,35.0,F,42.0,8.2,459680997,346.92,2,1972.88,1
19,Maryland,2017.0,64.0,12430544000,14192,6.0,A-,32.0,11.8,944700000,164.11,13,1089.62,10
20,Massachusetts,2017.0,100.0,15315796000,15592,4.0,A-,50.0,3.4,714300000,109.07,24,665.70,20
21,Michigan,2017.0,21.0,15712267000,11482,16.0,C,27.0,12.2,1177100000,119.23,21,557.87,27
22,Minnesota,2017.0,41.0,10085128000,11949,12.0,C+,44.0,7.6,797029922,150.18,16,982.77,11
23,Mississippi,2017.0,5.0,4161329000,8456,50.0,F,4.0,19.8,339500000,114.95,22,361.55,37
24,Missouri,2017.0,6.0,9269713000,10147,48.0,F,7.0,18.8,518428093,86.75,32,413.75,32
25,Montana,2017.0,4.0,1602608000,11028,37.0,F,6.0,19.0,171381791,173.59,10,831.95,14
26,Nebraska,2017.0,22.0,3732390000,11946,19.0,D,40.0,9.1,147191849,80.73,35,509.31,29
27,Nevada,2017.0,21.0,3804316000,8615,22.0,D,15.0,16.7,184000000,68.32,41,301.15,41
28,New Hampshire,2017.0,9.0,2711114000,14697,31.0,F,38.0,9.3,192590991,146.40,17,1356.27,7
29,New Jersey,2017.0,75.0,26025344000,18235,2.0,A-,45.0,5.5,1758813000,200.09,8,1288.51,8
30,New Mexico,2017.0,10.0,3184539000,9752,29.0,F,8.0,18.2,191789054,93.37,28,346.19,38
31,New York,2017.0,75.0,59209906000,21206,5.0,A-,48.0,4.4,4965000000,256.31,5,1147.45,9
32,North Carolina,2017.0,30.0,12789303000,8687,25.0,D-,21.0,13.6,1565147892,165.64,12,721.60,18
33,North Dakota,2017.0,13.0,1420265000,13320,37.0,F,30.0,11.9,64315281,96.37,27,584.68,26
34,Ohio,2017.0,16.0,19867256000,11637,21.0,D,25.0,12.9,843055168,73.13,39,370.90,36
35,Oklahoma,2017.0,9.0,5456487000,8082,27.0,F,5.0,19.6,198100000,53.05,46,222.09,44
36,Oregon,2017.0,35.0,6173205000,10442,14.0,C,33.0,11.8,602389187,157.08,14,789.50,17
37,Pennsylvania,2017.0,36.0,25305395000,14717,13.0,C,31.0,11.9,3568718516,280.78,4,1628.07,4
38,Rhode Island,2017.0,43.0,2204789000,15179,9.0,B+,49.0,4.0,94919347,90.51,30,494.37,30
39,South Carolina,2017.0,12.0,7463268000,9953,29.0,F,10.0,17.7,275500000,59.95,44,260.15,43
40,South Dakota,2017.0,5.0,1205748000,8937,40.0,F,22.0,13.5,69392215,85.35,33,453.54,31
41,Tennessee,2017.0,22.0,8766468000,8726,24.0,D-,14.0,17.0,490700000,77.40,38,334.49,39
42,Texas,2017.0,18.0,44675233000,8861,32.0,F,28.0,12.1,979600000,38.99,50,145.86,51
43,Utah,2017.0,13.0,3805778000,6575,27.0,F,24.0,12.9,177688669,64.17,42,394.86,33
44,Vermont,2017.0,6.0,1612052000,18039,41.0,F,36.0,11.0,150000000,239.84,6,1485.15,5
45,Virginia,2017.0,13.0,14458878000,11237,20.0,D,29.0,12.0,717200000,90.72,29,599.16,25
46,Washington,2017.0,43.0,11566562000,10735,10.0,B,41.0,9.0,761100000,113.57,23,656.12,21
47,West Virginia,2017.0,21.0,3215683000,11359,32.0,F,12.0,17.5,135000000,72.88,40,299.33,42
48,Wisconsin,2017.0,23.0,9928685000,11375,17.0,C-,35.0,11.4,615198301,108.15,25,703.08,19
49,Wyoming,2017.0,9.0,1513919000,16055,45.0,F,11.0,17.5,74766713,133.24,18,900.80,13
50,District of Columbia,NaN,NaN,979040000,19396,NaN,NaN,NaN,NaN,217069846,360.57,1,1391.47,6

In [ ]:
#DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [5]:
gun_file_df.count()

incident_id                    239677
date                           239677
state                          239677
city_or_county                 239677
address                        223180
n_killed                       239677
n_injured                      239677
incident_url                   239677
source_url                     239209
incident_url_fields_missing    239677
congressional_district         227733
gun_stolen                     140179
gun_type                       140226
incident_characteristics       239351
latitude                       231754
location_description            42089
longitude                      231754
n_guns_involved                140226
notes                          158660
participant_age                147379
participant_age_group          197558
participant_gender             203315
participant_name               117424
participant_relationship        15774
participant_status             212051
participant_type               214814
sources                        239068
state_house_district           200905
state_senate_district          207342
dtype: int64

In [12]:
gun_file_df.dtypes()

TypeError: 'Series' object is not callable

In [7]:
# Drop rows that do not contain someone who was killed
only_deaths_df = gun_file_df.loc[gun_file_df["n_killed"] != 0, :]
only_deaths_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
1,460726,1/1/13,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,1/1/13,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,1/5/13,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,1/7/13,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
5,478948,1/7/13,Oklahoma,Tulsa,6000 block of South Owasso,4,0,http://www.gunviolencearchive.org/incident/478948,http://usnews.nbcnews.com/_news/2013/01/07/163...,False,...,0::23||1::23||2::33||3::55,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Female||2::Female||3::Female||4:...,0::Rebeika Powell||1::Kayetie Melchor||2::Mist...,NaN,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.kjrh.com/news/local-news/4-found-sh...,72.0,11.0

In [8]:
# Group dataframe by state
grouped_states = only_deaths_df["state"]

In [10]:
# Find the sum of people killed by state
grouped_states["n_killed"].sum()

KeyError: 'n_killed'